<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    <title>Register - StoreEverything</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <main class="main-content">
            <div class="paper form-container">
                <h2>Dodaj nową</h2>
                <form th:action="@{/information/create}" method="post">
                    <div>
                        <label>Tytuł:</label>
                        <input type="text" name="title" placeholder="Tytuł" required/>
                    </div>
                    <div>
                        <label>Treść:</label>
                        <textarea name="content" placeholder="Treść" required></textarea>
                    </div>
                    <button type="submit" class="btn-submit">Dodaj</button>
                </form>

                <div class="actions">
                    <a class="btn-register" th:href="@{/information(sortBy='title', sortDir=${sortBy == 'title' and sortDir == 'asc' ? 'desc' : 'asc'})}">
                        Tytuł <span th:if="${sortBy == 'title'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                    </a>
                    <a class="btn-register" th:href="@{/information(sortBy='addedDate', sortDir=${sortBy == 'addedDate' and sortDir == 'asc' ? 'desc' : 'asc'})}">
                        Data <span th:if="${sortBy == 'addedDate'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                    </a>
                </div>
                <h1>Moje notatki</h1>
                <table>
                    <thead>
                    <tr><th>Tytuł</th><th>Data</th><th>Akcje</th></tr>
                    </thead>
                    <tbody>
                    <tr th:each="info : ${information}">
                        <td th:text="${info.title}"></td>
                        <td th:text="${info.addedDate}"></td>
                        <td class="actions">
                            <a th:href="@{/information/edit/{id}(id=${info.id})}" class="btn-register">Edytuj</a>
                            <a th:href="@{/information/sharelink/{id}(id=${info.id})}" class="btn-login">Udostępnij</a>
                            <form th:action="@{/information/delete/{id}(id=${info.id})}" method="post">
                                <button type="submit" class="btn-submit">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a th:href="@{/home}" class="btn-register">Wróć</a>

            </div>
    </main>
</body>
</html>