<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    <title>Register - StoreEverything</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<main class="main-content">
    <div class="paper">
<h1>Link do udostępnienia</h1>
<p>Notatka: <strong th:text="${information.title}"></strong></p>

<div>
    <input type="text" th:value="${shareLink}" readonly id="linkInput"/>
    <button onclick="navigator.clipboard.writeText(document.getElementById('linkInput').value)">
        Kopiuj link
    </button>
</div>

<a href="/information">Wróć</a>
    </div>
</main>
</body>
</html>