<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    <title>Home - StoreEverything</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{elements/navbar :: navbar}"></div>

<main class="main-content">
    <div class="paper form-container">
    <h1>Witaj użytkowniku</h1>
    <h3>Jesteś zalogowany jako: <span th:text="${username}"></span></h3>

    <div sec:authorize="hasRole('ADMIN')">
        <a href="/admin/users">Panel admina</a>
    </div>

    <div sec:authorize="hasRole('FULL')">
        <a href="/information">Moje notatki</a>
    </div>

    <form class="form-container" th:action="@{/logout}" method="post">
        <button class="btn-secondary" type="submit">Wyloguj się</button>
    </form>
    </div>
</main>
</body>
</html>