<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap" rel="stylesheet">
    <title>Welcome Page - StoreEverything</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div th:replace="~{elements/navbar :: navbar}"></div>
<main class="main-content">
    <div class="welcome-card paper">
        <h1 class="brand-logo">StoreEverything</h1>
        <h3>Twoja aplikacja do bezpiecznego przechowywania oraz udostępniania notatek.</h3>

        <div class="actions" sec:authorize="isAnonymous()">
            <a th:href="@{/login}" class="btn-primary">Zaloguj się</a>
            <a th:href="@{/register}" class="btn-secondary">Stwórz konto</a>
        </div>
    </div>
</main>
</body>
</html>